<!DOCTYPE html>
<html>

<head>
  <title>Etsi kuvaus</title>
</head>

<body>
  <h1>Etsi kuvaus</h1>

  <form action="/findpost" method="get">
  <p>
  Hakusana: <input type="text" name="query" value="{{ query }}">
  </p>
  <input type="submit" value="Lähetä">
  </form>

  {% if query %}
  <h2>Hakutulokset</h2>

  <ul>
    {% for post in result %}
    <li><a href="/post/{{ post.id }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>


  {% endif %}

  <p>
  <a href="/">Takaisin etusivulle</a>
  </p>

</body>

</html>
