<!DOCTYPE html>
<html>

<head>
  <title>Pelikirjasto</title>
</head>

<body>
  {% for message in get_flashed_messages() %}
  <div class="info">
    {{ message }}
  </div>
  {% endfor %}
  <h1>Pelikirjasto</h1>

  {% if session.username %}
  <p>
    Olet kirjautunut nimellä <a href="/user/{{ session.user_id }}">{{ session.username }}</a>
  </p>
  <p>
    <a href=/newpost> Lisää pelin kuvaus </a>
    <a href=/findpost> Etsi kuvaus </a>
    <a href=/logout> Kirjaudu ulos </a>
  </p>

  {% else %}
  <p>
   Et ole kirjautunut
  </p>
  <p>
   <a href=/login> Kirjaudu sisään </a>
   <a href=/findpost> Etsi kuvaus </a>
   <a href=/register> Luo tunnus </a>
  </p>

  {% endif %}

  <h2>Pelit</h2>

  <ul>
    {% for post in posts %}
    <li><a href="/post/{{ post.id }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</body>

</html>
