<!DOCTYPE html>
<html>

<head>
  <title>Uusi kuvaus</title>
</head>
<link rel="stylesheet" href="/static/main.css">

<body>
  <div class="header">
  <h1>Uusi kuvaus</h1>
  </div>
  <div class="content">
  <form action="/createpost" method="post">
    <p>
      Pelin nimi: <br />
      <input type="text" name="title" maxlength="80" required />
    </p>


{% for class in classes %}
    <p>
        {{ class }}: <br />
        <select name="classes">
           <option value="">(valitse)</option>
        {% for option in classes[class] %}
           <option value="{{ class }}:{{ option }}"> {{ option }}</option>
        {% endfor %}
        </select>
    </p>
{% endfor %}


    <p>
      Kuvaus: <br />
      <textarea name="description" rows="5" cols="45" maxlength="1000" required></textarea>
    </p>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Lähetä kuvaus" />
  </form>
  </div>
</body>

</html>
