<!DOCTYPE html>
<html>

<head>
  <title>{{ post.title}}</title>
</head>
<link rel="stylesheet" href="/static/main.css">

<body>
  <div class="header">
  <h1>{{ post.title}} {{ average_rating }}/10&#9733;</h1>
  </div>

  <div class="content">
  {% if session.user_id == post.user_id %}
  <p>
    <a href="/editpost/{{ post.id }}">Muokkaa kuvausta</a>
    <a href="/removepost/{{ post.id }}">Poista kuvaus</a>
  </p>
  {% endif %}


  <p>
  Kuvauksen lähettäjä: <a href="/user/{{post.user_id}}">{{ post.username }} </a>
  </p>

  <p>
  {% for class in classes %}
  {{ class.title }}: {{ class.value }}
  {% endfor %}
  </p>

  <p>
  Pelin kuvaus: {{ post.description }}
  </p>

  <p>
  <a href="/comment/{{ post.id }}">Kommentoi/arvioi pelin kuvausta</a>
  </p>

  <p>
  <a href="/">Takaisin etusivulle</a>
  </p>

  {% if post_comments %}
  <p>
  <h2>Kommentit:</h2>
  <ul>
    {% for comment in post_comments %}
    <li>{{ comment.comment }} Arvio: {{ comment.rating }} <a href="/removecomment/{{ post.id }}/{{ comment.id }}">Poista kommentti</a></li>
    {% endfor %}
  </ul>
  </p>
  {% endif %}
  </div>

</body>

</html>
